{% load blog_tags %}


{% include 'components/modal.html' %}


<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: greenyellow;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'blog:index' %}">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blog:index' %}">Home</a>
          </li>
          

          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              CreateArticle
            </a>
          </li>
          <li class="nav-item">
            {% if request.user.is_staff %}
            <a class="nav-link active" href="{% url 'blog:create_category' %}">
              CreateCategory
            </a>
            {% endif %}
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
            {% query nav_category_list parent_category=None as root_categorys %}
            <li>
                <a class="dropdown-item">
            {% for node in root_categorys %}

                {% include 'components/nav_node.html' %}
            {% endfor %}                    
                </a>

            </li>
            </ul>

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.is_authenticated %}
                {{ request.user.name }}
              {% else %}
                unanimous 
              {% endif %}
            </a>
            <ul class="dropdown-menu">

              {% if user.is_authenticated %}
            <li>
              <a href="{% url 'profile:profile-view' request.user.pk %}">Profile</a>
          </li>            
          <li>
              <a href="{% url 'logout' %}">Logout</a>
          </li>


            {% else %}


            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>                
            <li>
                <a href="{% url 'users-register' %}">Registor</a>
            </li>

            {% endif %}

            </ul>

          </li>

        </ul>
        <form class="d-flex" role="search" action="{% url 'search' %}">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <!-- Button trigger modal -->


